body{
    text-align: center;
    font-family:"Comic Sans MS", "Comic Sans", Arial;
    background-color: rgba(0,128,128,0.2)
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li{
        display: inline;
        padding:10px;
        border: solid 1px teal;
}

a{
    color:red
}

a:hover{
    color:white
}

.logo{
    width: 250px;
    margin-top: 20px;
}

ol{
    list-style-position: inside;
    line-height: 30px;
}

button{
    border-radius: 20px;
    color:red;
    background-color: rgba(0,128,128,0.5);
    height:35px;
    padding:10px;
    margin-bottom: 50px;
}

.boardSmallScreen{
    display:none;
}

.mistake2{
    display:none;
}

@media (max-width: 1024px){
    .boardImg{
        width:100px;
    }

    .boardBigScreen{
        display:none;
    }

    .boardSmallScreen{
        display:block;
    }

    .mistake{
        display:none;
    }

    .mistake2{
        display:inline-block;
    }
}

.playAgain, .mistake, .mistake2{
    margin-top: 20px;
}

